@(cadena:String)

<head>
<link href="../assets/stylesheets/viewStyle.css" rel="stylesheet" type="text/css" media="all">
</head>

<h1>@cadena</h1>

<form id="form1" name="form1" method="post" action="">
  <p>&nbsp;</p>
  <p>
    <label for="nombreArt">Nombre</label>
    <input type="text" name="nombreArt" id="nombreArt" />
  </p>
  <p>
    <input type="submit" name="crearArt" id="crearArt" class = "Button" value="Eliminar" />
  </p>
  <p>&nbsp;</p>
</form>
<p>&nbsp;</p>

<br>
            <p>
                <a href="@routes.HomeController.index">INICIO</a>
            </p>

